@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    @apply list-none p-0 m-0;
  }

  li::marker {
    content: "";
  }
}
#cursor,
#cursorTrail {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
}