<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <h1>그린대학교</h1>
      </div>
      <div><input type="button" value="로그인" /></div>
      <nav>
        <ul>
          <li>강의/수업관리</li>
          <li>비교과 프로그램</li>
          <li>성적관리</li>
          <li>지원</li>
          <li>커뮤니티게시판</li>
          <li>인증/계정보안</li>
          <li>알림센터</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
