<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그린대학교</title>
    <link rel="stylesheet" href="./src/kihyun/css/header_student_nav.css" />
  </head>
  <body>
    <header>
      <div id="title">
        <h1>그린대학교</h1>
      </div>
      <div id="login_button"><input type="button" value="로그인" /></div>
      <nav id="nav">
        <ul>
          <li><a href="#">강의/수업관리</a></li>
          <li><a href="#">비교과 프로그램</a></li>
          <li><a href="#">성적.학사</a></li>
          <li><a href="#">지원</a></li>
          <li><a href="#">커뮤니티게시판</a></li>
          <li><a href="#">인증/계정보안</a></li>
          <li><a href="#">알림센터</a></li>
        </ul>
      </nav>
      <div></div>
    </header>

    <footer>
      <hr />
      <p>경기 성남시 분당구 돌마로 46 5층 그린컴퓨터아카데미 성남분당점</p>
      <p>미금역 6번출구 직진 약 100M</p>
      <p><small>Copyright© 2025 CNU All Rights Reserved.</small></p>
    </footer>
  </body>
</html>
